@CHARSET "UTF-8";
/***遮罩层****/
#mask{
	position:absolute;
	top:0px;
	left:0px;	
	z-index:1000;
	background-color:#c0c0c0;
	filter:alpha(opacity=40);
	opacity:0.4;
	-webkit-opacity:0.4;
	-moz-opacity:0.4;
	-ms-opacity:0.4;
	-o-opacity:0.4;	
}